[FILTER]
\newenvironment{error}{}{}
\newenvironment{code}{}{}
\newenvironment{indent}{}{}
\newenvironment{comment}{}{}
\newenvironment{proof}{}{}
\newverbatim{lstlisting}{}{}
\newverbatim{lstfloatinglisting}{}{}
\TCIEnd

[Defaults]
STYLE_NAME=Thesis
ITALICS_MODE=2
NORMAL_SLANT=0
ITALIC_SLANT=1
NORMAL_WEIGHT=400
BOLD_WEIGHT=700
FONT_FACE=Times New Roman
FONT_SIZE=12
TEXT_COLOR=R:0 G:0 B:0
FONT_WEIGHT=400
FONT_SLANT=0
MATH_FACE=Times New Roman
MATH_COLOR=R:255 G:0 B:0
FUNCTION_COLOR=R:128 G:128 B:128
ITALICS_IN_MATH=1
SCRIPT_SIZE=70
SCRIPTSCRIPT_SIZE=50
OPERATOR_SIZE=120
BIGOPERATOR_SIZE=150
PARAGRAPH_INDENT_RIGHT=18
PARAGRAPH_INDENT_LEFT=18
PARAGRAPH_INDENT_FIRST=0
PARAGRAPH_INDENT_REST=0
PARAGRAPH_LEADING_BEFORE=0
PARAGRAPH_LEADING_AFTER=0
LINE_LEADING=0
LINE_JUSTIFICATION=1
TAGLEVEL=3
HYPERLINK_TEXT_COLOR=R:0 G:128 B:0
HYPERLINK_MATH_COLOR=R:0 G:128 B:0
REFERENCE_BKGROUND_COLOR=R:192 G:192 B:192 
CITATION_BKGROUND_COLOR=R:192 G:192 B:192 

[error]
TAG_TYPE=PARA
ALIAS=Error
TAGBAR_DELETE=1
TEXT_COLOR=R:255 G:0 B:0
FONT_WEIGHT=700
FONT_SIZE=20

[flushleft]
TAG_TYPE=PARA
ALIAS=Flush Left
BKGROUND_COLOR=R:215 G:255 B:215
LINE_JUSTIFICATION=1
PARAGRAPH_INDENT_FIRST=0
PARAGRAPH_INDENT_LEFT=0
PARAGRAPH_INDENT_RIGHT=0
PARAGRAPH_INDENT_REST=0
TAGBAR_DELETE=0

[flushright]
TAG_TYPE=PARA
ALIAS=Flush Right
BKGROUND_COLOR=R:255 G:255 B:165
LINE_JUSTIFICATION=3
PARAGRAPH_INDENT_FIRST=0
PARAGRAPH_INDENT_LEFT=0
PARAGRAPH_INDENT_RIGHT=0
PARAGRAPH_INDENT_REST=0
TAGBAR_DELETE=0

[Body Text]
TAG_TYPE=PARA
PARAGRAPH_INDENT_FIRST=18

[chapter]
ALIAS=Chapter head
TAGLEVEL=1
TAG_TYPE=STRUCTURE
NEXT_TAG=Body Text
TAG_BEHAVIOR=NOENVTAGS
FONT_FACE=Arial
FONT_SIZE=24
TEXT_COLOR=R:0 G:0 B:255
MATH_COLOR=R:255 G:0 B:0
FUNCTION_COLOR=R:128 G:128 B:128
SCRIPT_SIZE=100
SCRIPTSCRIPT_SIZE=100
CAPTION_FONT_FACE__INHERIT=1
PLOT_CAPTION_FONT_FACE__INHERIT=1
FORMULA_FONT_FACE__INHERIT=1
HYPERLINK_FONT_FACE__INHERIT=1
HYPERTARGET_FONT_FACE__INHERIT=1
REFERENCE_FONT_FACE__INHERIT=1
CITATION_FONT_FACE__INHERIT=1
FORMULA_TEXT_COLOR__INHERIT=1
FORMULA_MATH_COLOR__INHERIT=1
FORMULA_FUNCTION_COLOR__INHERIT=1
FORMULA_UNIT_COLOR__INHERIT=1
HYPERLINK_FUNCTION_COLOR__INHERIT=1
HYPERLINK_UNIT_COLOR__INHERIT=1
HYPERTARGET_TEXT_COLOR__INHERIT=1
HYPERTARGET_MATH_COLOR__INHERIT=1
HYPERTARGET_FUNCTION_COLOR__INHERIT=1
HYPERTARGET_UNIT_COLOR__INHERIT=1
REFERENCE_TEXT_COLOR__INHERIT=1
REFERENCE_MATH_COLOR__INHERIT=1
REFERENCE_FUNCTION_COLOR__INHERIT=1
REFERENCE_UNIT_COLOR__INHERIT=1
CITATION_TEXT_COLOR__INHERIT=1
CITATION_MATH_COLOR__INHERIT=1
CITATION_FUNCTION_COLOR__INHERIT=1
CITATION_UNIT_COLOR__INHERIT=1
CAPTION_TEXT_COLOR__INHERIT=1
CAPTION_MATH_COLOR__INHERIT=1
CAPTION_FUNCTION_COLOR__INHERIT=1
CAPTION_UNIT_COLOR__INHERIT=1
PLOT_CAPTION_TEXT_COLOR__INHERIT=1
PLOT_CAPTION_MATH_COLOR__INHERIT=1
PLOT_CAPTION_FUNCTION_COLOR__INHERIT=1
PLOT_CAPTION_UNIT_COLOR__INHERIT=1
BKGROUND_COLOR=Transparent
MATH_SIZE__INHERIT=1
PARAGRAPH_INDENT_RIGHT=0
PARAGRAPH_INDENT_LEFT=-13
CAPTION_FONT_SIZE__INHERIT=1
CAPTION_MATH_SIZE__INHERIT=1
CAPTION_MATH_ITALICS__INHERIT=1
PLOT_CAPTION_MATH_ITALICS__INHERIT=1
PLOT_CAPTION_FONT_SIZE__INHERIT=1
PLOT_CAPTION_MATH_SIZE__INHERIT=1
INPUTBUTTON_MATH_ITALICS__INHERIT=1
INPUTBUTTON_MATH_SIZE__INHERIT=1
FORMULA_FONT_SIZE__INHERIT=1
FORMULA_FONT_WEIGHT__INHERIT=1
FORMULA_FONT_SLANT__INHERIT=1
FORMULA_MATH_ITALICS__INHERIT=1
FORMULA_MATH_SIZE__INHERIT=1
HYPERLINK_FONT_SIZE__INHERIT=1
HYPERLINK_FONT_WEIGHT__INHERIT=1
HYPERLINK_FONT_SLANT__INHERIT=1
HYPERLINK_MATH_ITALICS__INHERIT=1
HYPERLINK_MATH_SIZE__INHERIT=1
HYPERTARGET_FONT_SIZE__INHERIT=1
HYPERTARGET_FONT_WEIGHT__INHERIT=1
HYPERTARGET_FONT_SLANT__INHERIT=1
HYPERTARGET_MATH_ITALICS__INHERIT=1
HYPERTARGET_MATH_SIZE__INHERIT=1
REFERENCE_FONT_SIZE__INHERIT=1
REFERENCE_FONT_WEIGHT__INHERIT=1
REFERENCE_FONT_SLANT__INHERIT=1
REFERENCE_MATH_ITALICS__INHERIT=1
REFERENCE_MATH_SIZE__INHERIT=1
CITATION_FONT_SIZE__INHERIT=1
CITATION_FONT_WEIGHT__INHERIT=1
CITATION_FONT_SLANT__INHERIT=1
CITATION_MATH_ITALICS__INHERIT=1
CITATION_MATH_SIZE__INHERIT=1
TAGBAR_DELETE=0

[section]
ALIAS=Section head
TAGLEVEL=2
TAG_TYPE=STRUCTURE
NEXT_TAG=Body Text
TAG_BEHAVIOR=NOENVTAGS
FONT_FACE=Arial
FONT_SIZE=18
TEXT_COLOR=R:128 G:0 B:128
CAPTION_FONT_FACE__INHERIT=1
PLOT_CAPTION_FONT_FACE__INHERIT=1
FORMULA_FONT_FACE__INHERIT=1
HYPERLINK_FONT_FACE__INHERIT=1
HYPERTARGET_FONT_FACE__INHERIT=1
REFERENCE_FONT_FACE__INHERIT=1
CITATION_FONT_FACE__INHERIT=1
FORMULA_TEXT_COLOR__INHERIT=1
FORMULA_MATH_COLOR__INHERIT=1
FORMULA_FUNCTION_COLOR__INHERIT=1
FORMULA_UNIT_COLOR__INHERIT=1
HYPERLINK_FUNCTION_COLOR__INHERIT=1
HYPERLINK_UNIT_COLOR__INHERIT=1
HYPERTARGET_TEXT_COLOR__INHERIT=1
HYPERTARGET_MATH_COLOR__INHERIT=1
HYPERTARGET_FUNCTION_COLOR__INHERIT=1
HYPERTARGET_UNIT_COLOR__INHERIT=1
REFERENCE_TEXT_COLOR__INHERIT=1
REFERENCE_MATH_COLOR__INHERIT=1
REFERENCE_FUNCTION_COLOR__INHERIT=1
REFERENCE_UNIT_COLOR__INHERIT=1
CITATION_TEXT_COLOR__INHERIT=1
CITATION_MATH_COLOR__INHERIT=1
CITATION_FUNCTION_COLOR__INHERIT=1
CITATION_UNIT_COLOR__INHERIT=1
CAPTION_TEXT_COLOR__INHERIT=1
CAPTION_MATH_COLOR__INHERIT=1
CAPTION_FUNCTION_COLOR__INHERIT=1
CAPTION_UNIT_COLOR__INHERIT=1
PLOT_CAPTION_TEXT_COLOR__INHERIT=1
PLOT_CAPTION_MATH_COLOR__INHERIT=1
PLOT_CAPTION_FUNCTION_COLOR__INHERIT=1
PLOT_CAPTION_UNIT_COLOR__INHERIT=1
BKGROUND_COLOR=Transparent
MATH_SIZE__INHERIT=1
PARAGRAPH_INDENT_RIGHT=0
PARAGRAPH_INDENT_LEFT=0
CAPTION_FONT_SIZE__INHERIT=1
CAPTION_MATH_SIZE__INHERIT=1
CAPTION_MATH_ITALICS__INHERIT=1
PLOT_CAPTION_MATH_ITALICS__INHERIT=1
PLOT_CAPTION_FONT_SIZE__INHERIT=1
PLOT_CAPTION_MATH_SIZE__INHERIT=1
INPUTBUTTON_MATH_ITALICS__INHERIT=1
INPUTBUTTON_MATH_SIZE__INHERIT=1
FORMULA_FONT_SIZE__INHERIT=1
FORMULA_FONT_WEIGHT__INHERIT=1
FORMULA_FONT_SLANT__INHERIT=1
FORMULA_MATH_ITALICS__INHERIT=1
FORMULA_MATH_SIZE__INHERIT=1
HYPERLINK_FONT_SIZE__INHERIT=1
HYPERLINK_FONT_WEIGHT__INHERIT=1
HYPERLINK_FONT_SLANT__INHERIT=1
HYPERLINK_MATH_ITALICS__INHERIT=1
HYPERLINK_MATH_SIZE__INHERIT=1
HYPERTARGET_FONT_SIZE__INHERIT=1
HYPERTARGET_FONT_WEIGHT__INHERIT=1
HYPERTARGET_FONT_SLANT__INHERIT=1
HYPERTARGET_MATH_ITALICS__INHERIT=1
HYPERTARGET_MATH_SIZE__INHERIT=1
REFERENCE_FONT_SIZE__INHERIT=1
REFERENCE_FONT_WEIGHT__INHERIT=1
REFERENCE_FONT_SLANT__INHERIT=1
REFERENCE_MATH_ITALICS__INHERIT=1
REFERENCE_MATH_SIZE__INHERIT=1
CITATION_FONT_SIZE__INHERIT=1
CITATION_FONT_WEIGHT__INHERIT=1
CITATION_FONT_SLANT__INHERIT=1
CITATION_MATH_ITALICS__INHERIT=1
CITATION_MATH_SIZE__INHERIT=1
TAGBAR_DELETE=0

[subsection]
ALIAS=Subsection head
TAGLEVEL=3
TAG_TYPE=STRUCTURE
NEXT_TAG=Body Text
TAG_BEHAVIOR=NOENVTAGS
FONT_SIZE=14
TEXT_COLOR=R:174 G:0 B:174
PARAGRAPH_INDENT_LEFT=18
PARAGRAPH_INDENT_FIRST=18
CAPTION_FONT_FACE__INHERIT=1
PLOT_CAPTION_FONT_FACE__INHERIT=1
FORMULA_FONT_FACE__INHERIT=1
HYPERLINK_FONT_FACE__INHERIT=1
HYPERTARGET_FONT_FACE__INHERIT=1
REFERENCE_FONT_FACE__INHERIT=1
CITATION_FONT_FACE__INHERIT=1
FORMULA_TEXT_COLOR__INHERIT=1
FORMULA_MATH_COLOR__INHERIT=1
FORMULA_FUNCTION_COLOR__INHERIT=1
FORMULA_UNIT_COLOR__INHERIT=1
HYPERLINK_FUNCTION_COLOR__INHERIT=1
HYPERLINK_UNIT_COLOR__INHERIT=1
HYPERTARGET_TEXT_COLOR__INHERIT=1
HYPERTARGET_MATH_COLOR__INHERIT=1
HYPERTARGET_FUNCTION_COLOR__INHERIT=1
HYPERTARGET_UNIT_COLOR__INHERIT=1
REFERENCE_TEXT_COLOR__INHERIT=1
REFERENCE_MATH_COLOR__INHERIT=1
REFERENCE_FUNCTION_COLOR__INHERIT=1
REFERENCE_UNIT_COLOR__INHERIT=1
CITATION_TEXT_COLOR__INHERIT=1
CITATION_MATH_COLOR__INHERIT=1
CITATION_FUNCTION_COLOR__INHERIT=1
CITATION_UNIT_COLOR__INHERIT=1
CAPTION_TEXT_COLOR__INHERIT=1
CAPTION_MATH_COLOR__INHERIT=1
CAPTION_FUNCTION_COLOR__INHERIT=1
CAPTION_UNIT_COLOR__INHERIT=1
PLOT_CAPTION_TEXT_COLOR__INHERIT=1
PLOT_CAPTION_MATH_COLOR__INHERIT=1
PLOT_CAPTION_FUNCTION_COLOR__INHERIT=1
PLOT_CAPTION_UNIT_COLOR__INHERIT=1
BKGROUND_COLOR=Transparent
MATH_SIZE__INHERIT=1
PARAGRAPH_INDENT_RIGHT=0
CAPTION_FONT_SIZE__INHERIT=1
CAPTION_MATH_SIZE__INHERIT=1
CAPTION_MATH_ITALICS__INHERIT=1
PLOT_CAPTION_MATH_ITALICS__INHERIT=1
PLOT_CAPTION_FONT_SIZE__INHERIT=1
PLOT_CAPTION_MATH_SIZE__INHERIT=1
INPUTBUTTON_MATH_ITALICS__INHERIT=1
INPUTBUTTON_MATH_SIZE__INHERIT=1
FORMULA_FONT_SIZE__INHERIT=1
FORMULA_FONT_WEIGHT__INHERIT=1
FORMULA_FONT_SLANT__INHERIT=1
FORMULA_MATH_ITALICS__INHERIT=1
FORMULA_MATH_SIZE__INHERIT=1
HYPERLINK_FONT_SIZE__INHERIT=1
HYPERLINK_FONT_WEIGHT__INHERIT=1
HYPERLINK_FONT_SLANT__INHERIT=1
HYPERLINK_MATH_ITALICS__INHERIT=1
HYPERLINK_MATH_SIZE__INHERIT=1
HYPERTARGET_FONT_SIZE__INHERIT=1
HYPERTARGET_FONT_WEIGHT__INHERIT=1
HYPERTARGET_FONT_SLANT__INHERIT=1
HYPERTARGET_MATH_ITALICS__INHERIT=1
HYPERTARGET_MATH_SIZE__INHERIT=1
REFERENCE_FONT_SIZE__INHERIT=1
REFERENCE_FONT_WEIGHT__INHERIT=1
REFERENCE_FONT_SLANT__INHERIT=1
REFERENCE_MATH_ITALICS__INHERIT=1
REFERENCE_MATH_SIZE__INHERIT=1
CITATION_FONT_SIZE__INHERIT=1
CITATION_FONT_WEIGHT__INHERIT=1
CITATION_FONT_SLANT__INHERIT=1
CITATION_MATH_ITALICS__INHERIT=1
CITATION_MATH_SIZE__INHERIT=1
TAGBAR_DELETE=0

[subsubsection]
ALIAS=Subsubsection head
TAGLEVEL=4
TAG_TYPE=STRUCTURE
NEXT_TAG=Body Text
TAG_BEHAVIOR=NOENVTAGS
TEXT_COLOR=R:185 G:0 B:0
PARAGRAPH_INDENT_LEFT=36
PARAGRAPH_INDENT_FIRST=18
CAPTION_FONT_FACE__INHERIT=1
PLOT_CAPTION_FONT_FACE__INHERIT=1
FORMULA_FONT_FACE__INHERIT=1
HYPERLINK_FONT_FACE__INHERIT=1
HYPERTARGET_FONT_FACE__INHERIT=1
REFERENCE_FONT_FACE__INHERIT=1
CITATION_FONT_FACE__INHERIT=1
FORMULA_TEXT_COLOR__INHERIT=1
FORMULA_MATH_COLOR__INHERIT=1
FORMULA_FUNCTION_COLOR__INHERIT=1
FORMULA_UNIT_COLOR__INHERIT=1
HYPERLINK_FUNCTION_COLOR__INHERIT=1
HYPERLINK_UNIT_COLOR__INHERIT=1
HYPERTARGET_TEXT_COLOR__INHERIT=1
HYPERTARGET_MATH_COLOR__INHERIT=1
HYPERTARGET_FUNCTION_COLOR__INHERIT=1
HYPERTARGET_UNIT_COLOR__INHERIT=1
REFERENCE_TEXT_COLOR__INHERIT=1
REFERENCE_MATH_COLOR__INHERIT=1
REFERENCE_FUNCTION_COLOR__INHERIT=1
REFERENCE_UNIT_COLOR__INHERIT=1
CITATION_TEXT_COLOR__INHERIT=1
CITATION_MATH_COLOR__INHERIT=1
CITATION_FUNCTION_COLOR__INHERIT=1
CITATION_UNIT_COLOR__INHERIT=1
CAPTION_TEXT_COLOR__INHERIT=1
CAPTION_MATH_COLOR__INHERIT=1
CAPTION_FUNCTION_COLOR__INHERIT=1
CAPTION_UNIT_COLOR__INHERIT=1
PLOT_CAPTION_TEXT_COLOR__INHERIT=1
PLOT_CAPTION_MATH_COLOR__INHERIT=1
PLOT_CAPTION_FUNCTION_COLOR__INHERIT=1
PLOT_CAPTION_UNIT_COLOR__INHERIT=1
BKGROUND_COLOR=Transparent
MATH_SIZE__INHERIT=1
PARAGRAPH_INDENT_RIGHT=0
CAPTION_FONT_SIZE__INHERIT=1
CAPTION_MATH_SIZE__INHERIT=1
CAPTION_MATH_ITALICS__INHERIT=1
PLOT_CAPTION_MATH_ITALICS__INHERIT=1
PLOT_CAPTION_FONT_SIZE__INHERIT=1
PLOT_CAPTION_MATH_SIZE__INHERIT=1
INPUTBUTTON_MATH_ITALICS__INHERIT=1
INPUTBUTTON_MATH_SIZE__INHERIT=1
FORMULA_FONT_SIZE__INHERIT=1
FORMULA_FONT_WEIGHT__INHERIT=1
FORMULA_FONT_SLANT__INHERIT=1
FORMULA_MATH_ITALICS__INHERIT=1
FORMULA_MATH_SIZE__INHERIT=1
HYPERLINK_FONT_SIZE__INHERIT=1
HYPERLINK_FONT_WEIGHT__INHERIT=1
HYPERLINK_FONT_SLANT__INHERIT=1
HYPERLINK_MATH_ITALICS__INHERIT=1
HYPERLINK_MATH_SIZE__INHERIT=1
HYPERTARGET_FONT_SIZE__INHERIT=1
HYPERTARGET_FONT_WEIGHT__INHERIT=1
HYPERTARGET_FONT_SLANT__INHERIT=1
HYPERTARGET_MATH_ITALICS__INHERIT=1
HYPERTARGET_MATH_SIZE__INHERIT=1
REFERENCE_FONT_SIZE__INHERIT=1
REFERENCE_FONT_WEIGHT__INHERIT=1
REFERENCE_FONT_SLANT__INHERIT=1
REFERENCE_MATH_ITALICS__INHERIT=1
REFERENCE_MATH_SIZE__INHERIT=1
CITATION_FONT_SIZE__INHERIT=1
CITATION_FONT_WEIGHT__INHERIT=1
CITATION_FONT_SLANT__INHERIT=1
CITATION_MATH_ITALICS__INHERIT=1
CITATION_MATH_SIZE__INHERIT=1
TAGBAR_DELETE=0

[paragraph]
ALIAS=Subsubsub head
TAGLEVEL=5
TAG_TYPE=STRUCTURE
NEXT_TAG=Body Text
TAG_BEHAVIOR=NOENVTAGS
TEXT_COLOR=R:255 G:0 B:0
CAPTION_FONT_FACE__INHERIT=1
PLOT_CAPTION_FONT_FACE__INHERIT=1
FORMULA_FONT_FACE__INHERIT=1
HYPERLINK_FONT_FACE__INHERIT=1
HYPERTARGET_FONT_FACE__INHERIT=1
REFERENCE_FONT_FACE__INHERIT=1
CITATION_FONT_FACE__INHERIT=1
FORMULA_TEXT_COLOR__INHERIT=1
FORMULA_MATH_COLOR__INHERIT=1
FORMULA_FUNCTION_COLOR__INHERIT=1
FORMULA_UNIT_COLOR__INHERIT=1
HYPERLINK_FUNCTION_COLOR__INHERIT=1
HYPERLINK_UNIT_COLOR__INHERIT=1
HYPERTARGET_TEXT_COLOR__INHERIT=1
HYPERTARGET_MATH_COLOR__INHERIT=1
HYPERTARGET_FUNCTION_COLOR__INHERIT=1
HYPERTARGET_UNIT_COLOR__INHERIT=1
REFERENCE_TEXT_COLOR__INHERIT=1
REFERENCE_MATH_COLOR__INHERIT=1
REFERENCE_FUNCTION_COLOR__INHERIT=1
REFERENCE_UNIT_COLOR__INHERIT=1
CITATION_TEXT_COLOR__INHERIT=1
CITATION_MATH_COLOR__INHERIT=1
CITATION_FUNCTION_COLOR__INHERIT=1
CITATION_UNIT_COLOR__INHERIT=1
CAPTION_TEXT_COLOR__INHERIT=1
CAPTION_MATH_COLOR__INHERIT=1
CAPTION_FUNCTION_COLOR__INHERIT=1
CAPTION_UNIT_COLOR__INHERIT=1
PLOT_CAPTION_TEXT_COLOR__INHERIT=1
PLOT_CAPTION_MATH_COLOR__INHERIT=1
PLOT_CAPTION_FUNCTION_COLOR__INHERIT=1
PLOT_CAPTION_UNIT_COLOR__INHERIT=1
BKGROUND_COLOR=Transparent
MATH_SIZE__INHERIT=1
PARAGRAPH_INDENT_RIGHT=0
PARAGRAPH_INDENT_LEFT=85
CAPTION_FONT_SIZE__INHERIT=1
CAPTION_MATH_SIZE__INHERIT=1
CAPTION_MATH_ITALICS__INHERIT=1
PLOT_CAPTION_MATH_ITALICS__INHERIT=1
PLOT_CAPTION_FONT_SIZE__INHERIT=1
PLOT_CAPTION_MATH_SIZE__INHERIT=1
INPUTBUTTON_MATH_ITALICS__INHERIT=1
INPUTBUTTON_MATH_SIZE__INHERIT=1
FORMULA_FONT_SIZE__INHERIT=1
FORMULA_FONT_WEIGHT__INHERIT=1
FORMULA_FONT_SLANT__INHERIT=1
FORMULA_MATH_ITALICS__INHERIT=1
FORMULA_MATH_SIZE__INHERIT=1
HYPERLINK_FONT_SIZE__INHERIT=1
HYPERLINK_FONT_WEIGHT__INHERIT=1
HYPERLINK_FONT_SLANT__INHERIT=1
HYPERLINK_MATH_ITALICS__INHERIT=1
HYPERLINK_MATH_SIZE__INHERIT=1
HYPERTARGET_FONT_SIZE__INHERIT=1
HYPERTARGET_FONT_WEIGHT__INHERIT=1
HYPERTARGET_FONT_SLANT__INHERIT=1
HYPERTARGET_MATH_ITALICS__INHERIT=1
HYPERTARGET_MATH_SIZE__INHERIT=1
REFERENCE_FONT_SIZE__INHERIT=1
REFERENCE_FONT_WEIGHT__INHERIT=1
REFERENCE_FONT_SLANT__INHERIT=1
REFERENCE_MATH_ITALICS__INHERIT=1
REFERENCE_MATH_SIZE__INHERIT=1
CITATION_FONT_SIZE__INHERIT=1
CITATION_FONT_WEIGHT__INHERIT=1
CITATION_FONT_SLANT__INHERIT=1
CITATION_MATH_ITALICS__INHERIT=1
CITATION_MATH_SIZE__INHERIT=1
TAGBAR_DELETE=0

[subparagraph]
ALIAS=Subsubsubsub head
TAGLEVEL=6
TAG_TYPE=STRUCTURE
NEXT_TAG=Body Text
TAG_BEHAVIOR=NOENVTAGS
TEXT_COLOR=R:0 G:0 B:255
PARAGRAPH_INDENT_LEFT=18
PARAGRAPH_INDENT_FIRST=18

[em]
ALIAS=Emphasized
TAG_TYPE=TEXT
FONT_SLANT=1
TEXT_COLOR=R:9 G:62 B:125
MATH_COLOR=R:9 G:62 B:125

[rm]
ALIAS=Roman
TAG_TYPE=TEXT
TEXT_COLOR=R:9 G:62 B:125
MATH_COLOR=R:9 G:62 B:125

[bs]
ALIAS=Bold Symbol
TAG_TYPE=TEXT
TAG_BEHAVIOR=FORCESMATH
FONT_WEIGHT=700

[bf]
ALIAS=Bold
TAG_TYPE=TEXT
FONT_WEIGHT=700

[it]
ALIAS=Italics
TAG_TYPE=TEXT
FONT_SLANT=1
MATH_COLOR=R:0 G:255 B:255

[sl]
ALIAS=Slanted
TAG_TYPE=TEXT
FONT_FACE=Times New Roman
FONT_SLANT=1
TEXT_COLOR=R:0 G:0 B:255

[sf]
ALIAS=Sans Serif
TAG_TYPE=TEXT
FONT_FACE=Arial
MATH_FACE=Arial

[sc]
ALIAS=Small Caps
TAG_TYPE=TEXT
TAG_BEHAVIOR=FORCESTEXT
FONT_FACE=cmcsc10
TEXT_COLOR=R:0 G:128 B:0
MATH_COLOR=R:0 G:128 B:0

[tt]
ALIAS=Typewriter
TAG_TYPE=TEXT
FONT_FACE=Courier New
MATH_COLOR=R:255 G:0 B:0
NEXT_TAG=tt
FORMULA_FONT_FACE__INHERIT=1
HYPERLINK_FONT_FACE__INHERIT=1
HYPERTARGET_FONT_FACE__INHERIT=1
REFERENCE_FONT_FACE__INHERIT=1
CITATION_FONT_FACE__INHERIT=1
FORMULA_TEXT_COLOR__INHERIT=1
FORMULA_MATH_COLOR__INHERIT=1
FORMULA_FUNCTION_COLOR__INHERIT=1
FORMULA_UNIT_COLOR__INHERIT=1
HYPERLINK_FUNCTION_COLOR__INHERIT=1
HYPERLINK_UNIT_COLOR__INHERIT=1
HYPERTARGET_TEXT_COLOR__INHERIT=1
HYPERTARGET_MATH_COLOR__INHERIT=1
HYPERTARGET_FUNCTION_COLOR__INHERIT=1
HYPERTARGET_UNIT_COLOR__INHERIT=1
REFERENCE_TEXT_COLOR__INHERIT=1
REFERENCE_MATH_COLOR__INHERIT=1
REFERENCE_FUNCTION_COLOR__INHERIT=1
REFERENCE_UNIT_COLOR__INHERIT=1
CITATION_TEXT_COLOR__INHERIT=1
CITATION_MATH_COLOR__INHERIT=1
CITATION_FUNCTION_COLOR__INHERIT=1
CITATION_UNIT_COLOR__INHERIT=1
ITALICS_IN_MATH=0
MATH_SIZE__INHERIT=1
TAGLEVEL=0
INPUTBUTTON_MATH_ITALICS__INHERIT=1
INPUTBUTTON_MATH_SIZE__INHERIT=1
FORMULA_FONT_SIZE__INHERIT=1
FORMULA_FONT_WEIGHT__INHERIT=1
FORMULA_FONT_SLANT__INHERIT=1
FORMULA_MATH_ITALICS__INHERIT=1
FORMULA_MATH_SIZE__INHERIT=1
HYPERLINK_FONT_SIZE__INHERIT=1
HYPERLINK_FONT_WEIGHT__INHERIT=1
HYPERLINK_FONT_SLANT__INHERIT=1
HYPERLINK_MATH_ITALICS__INHERIT=1
HYPERLINK_MATH_SIZE__INHERIT=1
HYPERTARGET_FONT_SIZE__INHERIT=1
HYPERTARGET_FONT_WEIGHT__INHERIT=1
HYPERTARGET_FONT_SLANT__INHERIT=1
HYPERTARGET_MATH_ITALICS__INHERIT=1
HYPERTARGET_MATH_SIZE__INHERIT=1
REFERENCE_FONT_SIZE__INHERIT=1
REFERENCE_FONT_WEIGHT__INHERIT=1
REFERENCE_FONT_SLANT__INHERIT=1
REFERENCE_MATH_ITALICS__INHERIT=1
REFERENCE_MATH_SIZE__INHERIT=1
CITATION_FONT_SIZE__INHERIT=1
CITATION_FONT_WEIGHT__INHERIT=1
CITATION_FONT_SLANT__INHERIT=1
CITATION_MATH_ITALICS__INHERIT=1
CITATION_MATH_SIZE__INHERIT=1
TAGBAR_DELETE=0
MATH_FACE=Courier New

[description]
ALIAS=Description List Item
TAG_TYPE=LISTENV
TAG_BEHAVIOR=NOSTRUCTURETAGS
PARAGRAPH_INDENT_LEFT=18
PARAGRAPH_INDENT_FIRST=0

[enumerate]
ALIAS=Numbered List Item
TAG_TYPE=LISTENV
TAG_LEADIN=#
TAG_BEHAVIOR=NOSTRUCTURETAGS
PARAGRAPH_INDENT_LEFT=18
PARAGRAPH_INDENT_FIRST=0

[itemize]
ALIAS=Bullet List Item
TAG_TYPE=LISTENV
TAG_LEADIN=·
TAG_BEHAVIOR=NOSTRUCTURETAGS
PARAGRAPH_INDENT_LEFT=18
PARAGRAPH_INDENT_FIRST=0

[cal]
ALIAS=Calligraphic
TAG_TYPE=TEXT
TAG_BEHAVIOR=FORCESMATH
FONT_FACE=cmsy10
TEXT_COLOR=R:192 G:192 B:192
MATH_COLOR=R:255 G:0 B:0

[newtheorem]
TAG_TYPE=TLTEMPLATE
PARAGRAPH_INDENT_LEFT=36
PARAGRAPH_INDENT_FIRST=0
TAG_BEHAVIOR=LISTSTART

[newenvironment]
TAG_TYPE=TLTEMPLATE
PARAGRAPH_INDENT_LEFT=36
PARAGRAPH_INDENT_FIRST=0
PARAGRAPH_INDENT_REST=18
TAG_BEHAVIOR=LISTSTART

[tiny]
TAG_TYPE=TEXT
FONT_SIZE=6
TEXT_COLOR=R:9 G:62 B:125

[scriptsize]
TAG_TYPE=TEXT
FONT_SIZE=8
TEXT_COLOR=R:9 G:62 B:125

[footnotesize]
TAG_TYPE=TEXT
FONT_SIZE=9
TEXT_COLOR=R:9 G:62 B:125

[small]
TAG_TYPE=TEXT
FONT_SIZE=10
TEXT_COLOR=R:9 G:62 B:125

[normalsize]
TAG_TYPE=TEXT
FONT_SIZE=12
TEXT_COLOR=R:9 G:62 B:125

[large]
TAG_TYPE=TEXT
FONT_SIZE=14
TEXT_COLOR=R:9 G:62 B:125

[Large]
TAG_TYPE=TEXT
FONT_SIZE=16
TEXT_COLOR=R:9 G:62 B:125

[LARGE]
TAG_TYPE=TEXT
FONT_SIZE=18
TEXT_COLOR=R:9 G:62 B:125

[huge]
TAG_TYPE=TEXT
FONT_SIZE=20
TEXT_COLOR=R:9 G:62 B:125

[Huge]
TAG_TYPE=TEXT
FONT_SIZE=22
TEXT_COLOR=R:9 G:62 B:125

[thebibliography]
ALIAS=Bibliography Item
TAG_TYPE=BIBENV
TAG_LEADIN=bibitem
TAG_BEHAVIOR=NOSTRUCTURETAGS|NOMULTIPARA
PARAGRAPH_INDENT_LEFT=18
PARAGRAPH_INDENT_FIRST=0
PARAGRAPH_INDENT_REST=18
LEADIN_FONT_WEIGHT=700

[quotation]
TAG_TYPE=PARA
ALIAS=Long Quotation
NEXT_TAG=quotation
PARAGRAPH_INDENT_RIGHT=24
PARAGRAPH_INDENT_LEFT=24

[quote]
TAG_TYPE=PARA
ALIAS=Short Quote
NEXT_TAG=Body Text
PARAGRAPH_INDENT_RIGHT=24
PARAGRAPH_INDENT_LEFT=24

[center]
TAG_TYPE=PARA
ALIAS=Centered
LINE_JUSTIFICATION=2

[verbatim]
TAG_TYPE=PARA
ALIAS=Body Verbatim
PARAGRAPH_INDENT_RIGHT=0
PARAGRAPH_INDENT_LEFT=0
TAG_BEHAVIOR=FORCESTEXT|NOLINEBREAK|PRESERVESPACES
FONT_FACE=Courier New
FONT_SIZE=10

[QQQuline]
TAG_TYPE=TEXT
ALIAS=Added text
TEXT_COLOR=R:0 G:128 B:0
TAGBAR_DELETE=1

[QQQsout]
TAG_TYPE=TEXT
ALIAS=Deleted text
TEXT_COLOR=R:255 G:0 B:0
TAGBAR_DELETE=1

[QQQuuline]
TAG_TYPE=TEXT
ALIAS=Double underlined
TEXT_COLOR=R:0 G:128 B:128
TAGBAR_DELETE=1

[QQQuwave]
TAG_TYPE=TEXT
ALIAS=Wavy underlined
TEXT_COLOR=R:128 G:64 B:0
TAGBAR_DELETE=1

[QQQxout]
TAG_TYPE=TEXT
ALIAS=X-ed out text
TEXT_COLOR=R:255 G:128 B:0
TAGBAR_DELETE=1

[newfield]
TAG_TYPE=TLTEMPLATE
PARAGRAPH_INDENT_LEFT=70
PARAGRAPH_INDENT_FIRST=0

[f_0]
ALIAS=title
TAG_TYPE=FIELD
TAG_LEADIN=Title: 
TAG_BEHAVIOR=FRONTMATTER|NOSTRUCTURETAGS|NOENVTAGS
PARAGRAPH_INDENT_LEFT=35
PARAGRAPH_INDENT_FIRST=0

[f_1]
ALIAS=author
TAG_TYPE=FIELD
TAG_LEADIN=Author: 
TAG_BEHAVIOR=FRONTMATTER|NOSTRUCTURETAGS|NOENVTAGS
PARAGRAPH_INDENT_LEFT=35
PARAGRAPH_INDENT_FIRST=0

[f_2]
ALIAS=address
TAG_TYPE=FIELD
TAG_LEADIN=Address: 
TAG_BEHAVIOR=FRONTMATTER|NOSTRUCTURETAGS|NOENVTAGS
PARAGRAPH_INDENT_LEFT=35
PARAGRAPH_INDENT_FIRST=0

[f_7]
ALIAS=date
TAG_TYPE=FIELD
TAG_LEADIN=Date: 
TAG_BEHAVIOR=FRONTMATTER|NOSTRUCTURETAGS|NOENVTAGS
PARAGRAPH_INDENT_LEFT=35
PARAGRAPH_INDENT_FIRST=0

[abstract]
TAG_TYPE=FIELD
TAG_LEADIN=Abstract:
TAG_BEHAVIOR=FRONTMATTER|NOSTRUCTURETAGS
PARAGRAPH_INDENT_LEFT=35
PARAGRAPH_INDENT_FIRST=0

[f_11]
ALIAS=Make Title
TAG_TYPE=FIELD
TAG_LEADIN=Make Title
TAG_BEHAVIOR=FRONTMATTER|NOSTRUCTURETAGS|NOENVTAGS
PARAGRAPH_INDENT_LEFT=35
PARAGRAPH_INDENT_FIRST=0

[f_12]
ALIAS=Make LOF
TAG_TYPE=FIELD
TAG_LEADIN=Make LOF
TAG_BEHAVIOR=FRONTMATTER|NOSTRUCTURETAGS|NOENVTAGS
PARAGRAPH_INDENT_LEFT=35
PARAGRAPH_INDENT_FIRST=0

[f_13]
ALIAS=Make LOT
TAG_TYPE=FIELD
TAG_LEADIN=Make LOT
TAG_BEHAVIOR=FRONTMATTER|NOSTRUCTURETAGS|NOENVTAGS
PARAGRAPH_INDENT_LEFT=35
PARAGRAPH_INDENT_FIRST=0

[f_14]
ALIAS=Make TOC
TAG_TYPE=FIELD
TAG_LEADIN=Make TOC
TAG_BEHAVIOR=FRONTMATTER|NOSTRUCTURETAGS|NOENVTAGS
PARAGRAPH_INDENT_LEFT=35
PARAGRAPH_INDENT_FIRST=0

[frak]
ALIAS=Fraktur
TAG_TYPE=TEXT
TAG_BEHAVIOR=FORCESMATH
FONT_SLANT=0
FONT_FACE=EUFM10
TEXT_COLOR=R:192 G:192 B:192
MATH_COLOR=R:255 G:0 B:0

[Bbb]
ALIAS=Blackboard Bold
TAG_TYPE=TEXT
TAG_BEHAVIOR=FORCESMATH
FONT_FACE=MSBM10
TEXT_COLOR=R:192 G:192 B:192

[f_111]
ALIAS=Keywords
TAG_TYPE=FIELD
TAG_LEADIN=Keywords:
TAG_BEHAVIOR=FRONTMATTER|NOSTRUCTURETAGS|NOENVTAGS

[f_112]
ALIAS=Jel
TAG_TYPE=FIELD
TAG_LEADIN=Jel:
TAG_BEHAVIOR=FRONTMATTER|NOSTRUCTURETAGS|NOENVTAGS

[newlist]
TAG_TYPE=TLTEMPLATE
PARAGRAPH_INDENT_LEFT=70
PARAGRAPH_INDENT_FIRST=0

[code]
TAG_TYPE=ENV
TAG_LEADIN=Code
FONT_FACE=Arial
MATH_COLOR=R:0 G:0 B:255 
FUNCTION_COLOR=R:128 G:128 B:128 
LEADIN_BACKGROUND_COLOR=R:0 G:128 B:0 
BKGROUND_COLOR=R:255 G:255 B:255 
UNIT_COLOR=R:0 G:128 B:0 
ITALICS_IN_MATH=1
PARAGRAPH_INDENT_LEFT=43
PARAGRAPH_INDENT_FIRST=0
PARAGRAPH_INDENT_REST=0
PARAGRAPH_LEADING_BEFORE=0
PARAGRAPH_LEADING_AFTER=0
LINE_LEADING=0
LINE_JUSTIFICATION=1
SCRIPT_SIZE=70
SCRIPTSCRIPT_SIZE=50
OPERATOR_SIZE=120
BIGOPERATOR_SIZE=150
DISPLAY_VSPACE=0
TAGBAR_DELETE=0
TAG_BEHAVIOR=LISTSTART
TEXT_COLOR=R:0 G:0 B:128 
LEADIN_LABELWIDTH=36

[indent]
ALIAS=Indent
TAG_TYPE=LISTENV
TAG_BEHAVIOR=NOSTRUCTURETAGS
PARAGRAPH_INDENT_FIRST=0
PARAGRAPH_INDENT_LEFT=18
BKGROUND_COLOR=R:255 G:255 B:255 
LEADIN_FONT_SLANT=0
PARAGRAPH_INDENT_REST=0
PARAGRAPH_LEADING_BEFORE=0
PARAGRAPH_LEADING_AFTER=0
LINE_LEADING=0
LINE_JUSTIFICATION=1
TAGBAR_DELETE=0
LEADIN_ALIGNLEFT=0
LEADIN_BACKGROUND_COLOR=R:255 G:255 B:255
LEADIN_FONT_FACE__INHERIT=1
LEADIN_FONT_SIZE__INHERIT=1
LEADIN_FONT_SLANT=0
LEADIN_FONT_WEIGHT=700
LEADIN_FUNCTION_COLOR__INHERIT=1
LEADIN_LABELSEP=4
LEADIN_LABELWIDTH=18
LEADIN_MATH_COLOR__INHERIT=1
LEADIN_MATH_ITALICS__INHERIT=1
LEADIN_TEXTJUSTIFY=1
LEADIN_TEXT_COLOR=R:226 G:226 B:226
NEXT_TAG=indent
TAGLEVEL=0
TAG_LEADIN=|

[comment]
TAG_TYPE=ENV
TAG_LEADIN=comment
FONT_FACE=Comic Sans MS
LEADIN_BACKGROUND_COLOR=R:0 G:255 B:0 
BKGROUND_COLOR=R:255 G:255 B:255 
PARAGRAPH_INDENT_LEFT=36
PARAGRAPH_INDENT_FIRST=0
PARAGRAPH_INDENT_REST=18
PARAGRAPH_LEADING_BEFORE=0
PARAGRAPH_LEADING_AFTER=0
LINE_LEADING=0
LINE_JUSTIFICATION=1
TAGBAR_DELETE=0
TAG_BEHAVIOR=LISTSTART

[proof]
TAG_TYPE=ENV
ALIAS=Proof
TAG_LEADIN=Proof
BKGROUND_COLOR=R:225 G:225 B:225
LEADIN_BACKGROUND_COLOR=R:255 G:255 B:255 
LEADIN_FONT_FACE=Arial
LEADIN_FONT_WEIGHT=700
TAG_BEHAVIOR=LISTSTART
PARAGRAPH_LEADING_BEFORE=0
PARAGRAPH_LEADING_AFTER=0
LEADIN_LABELSEP=4
LEADIN_LABELWIDTH=72
PARAGRAPH_INDENT_LEFT=58
PARAGRAPH_INDENT_REST=0
PARAGRAPH_INDENT_RIGHT=0
LEADIN_FONT_SLANT=0

[axiom]
TAG_TYPE=THEOREMENV
ALIAS=Axiom
TAG_LEADIN=Axiom
LEADIN_BACKGROUND_COLOR=R:255 G:255 B:255 
LEADIN_FONT_FACE=Arial
LEADIN_FONT_WEIGHT=700
PARAGRAPH_INDENT_LEFT=0
TAG_BEHAVIOR=LISTSTART
PARAGRAPH_LEADING_BEFORE=4
PARAGRAPH_LEADING_AFTER=4
LEADIN_LABELSEP=4
LEADIN_LABELWIDTH=72
PARAGRAPH_INDENT_REST=58
PARAGRAPH_INDENT_RIGHT=0
FONT_SLANT=1
LEADIN_FONT_SLANT=0

[case]
TAG_TYPE=THEOREMENV
ALIAS=Case
TAG_LEADIN=Case
LEADIN_BACKGROUND_COLOR=R:255 G:255 B:255 
LEADIN_FONT_FACE=Arial
LEADIN_FONT_WEIGHT=700
PARAGRAPH_INDENT_LEFT=0
TAG_BEHAVIOR=LISTSTART
PARAGRAPH_LEADING_BEFORE=4
PARAGRAPH_LEADING_AFTER=4
LEADIN_LABELSEP=4
LEADIN_LABELWIDTH=72
PARAGRAPH_INDENT_REST=58
PARAGRAPH_INDENT_RIGHT=0
FONT_SLANT=1
LEADIN_FONT_SLANT=0

[claim]
TAG_TYPE=THEOREMENV
ALIAS=Claim
TAG_LEADIN=Claim
LEADIN_BACKGROUND_COLOR=R:255 G:255 B:255 
LEADIN_FONT_FACE=Arial
LEADIN_FONT_WEIGHT=700
PARAGRAPH_INDENT_LEFT=0
TAG_BEHAVIOR=LISTSTART
PARAGRAPH_LEADING_BEFORE=4
PARAGRAPH_LEADING_AFTER=4
LEADIN_LABELSEP=4
LEADIN_LABELWIDTH=72
PARAGRAPH_INDENT_REST=58
PARAGRAPH_INDENT_RIGHT=0
FONT_SLANT=1
LEADIN_FONT_SLANT=0

[conclusion]
TAG_TYPE=THEOREMENV
ALIAS=Conclusion
TAG_LEADIN=Conclusion
LEADIN_BACKGROUND_COLOR=R:255 G:255 B:255 
LEADIN_FONT_FACE=Arial
LEADIN_FONT_WEIGHT=700
PARAGRAPH_INDENT_LEFT=0
TAG_BEHAVIOR=LISTSTART
PARAGRAPH_LEADING_BEFORE=4
PARAGRAPH_LEADING_AFTER=4
LEADIN_LABELSEP=4
LEADIN_LABELWIDTH=72
PARAGRAPH_INDENT_REST=58
PARAGRAPH_INDENT_RIGHT=0
FONT_SLANT=1
LEADIN_FONT_SLANT=0

[condition]
TAG_TYPE=THEOREMENV
ALIAS=Condition
TAG_LEADIN=Condition
LEADIN_BACKGROUND_COLOR=R:255 G:255 B:255 
LEADIN_FONT_FACE=Arial
PARAGRAPH_INDENT_LEFT=0
TAG_BEHAVIOR=LISTSTART
PARAGRAPH_LEADING_BEFORE=4
PARAGRAPH_LEADING_AFTER=4
LEADIN_LABELSEP=4
LEADIN_LABELWIDTH=72
PARAGRAPH_INDENT_REST=58
PARAGRAPH_INDENT_RIGHT=0
FONT_SLANT=1
LEADIN_FONT_WEIGHT=700

[conjecture]
TAG_TYPE=THEOREMENV
ALIAS=Conjecture
TAG_LEADIN=Conjecture
LEADIN_BACKGROUND_COLOR=R:255 G:255 B:255 
LEADIN_FONT_FACE=Arial
LEADIN_FONT_WEIGHT=700
PARAGRAPH_INDENT_LEFT=0
TAG_BEHAVIOR=LISTSTART
PARAGRAPH_LEADING_BEFORE=4
PARAGRAPH_LEADING_AFTER=4
LEADIN_LABELSEP=4
LEADIN_LABELWIDTH=72
PARAGRAPH_INDENT_REST=58
PARAGRAPH_INDENT_RIGHT=0
FONT_SLANT=1
LEADIN_FONT_SLANT=0

[corollary]
TAG_TYPE=THEOREMENV
ALIAS=Corollary
TAG_LEADIN=Corollary
LEADIN_BACKGROUND_COLOR=R:255 G:255 B:255 
LEADIN_FONT_FACE=Arial
LEADIN_FONT_WEIGHT=700
PARAGRAPH_INDENT_LEFT=0
TAG_BEHAVIOR=LISTSTART
PARAGRAPH_LEADING_BEFORE=4
PARAGRAPH_LEADING_AFTER=4
LEADIN_LABELSEP=4
LEADIN_LABELWIDTH=72
PARAGRAPH_INDENT_REST=58
PARAGRAPH_INDENT_RIGHT=0
FONT_SLANT=1
LEADIN_FONT_SLANT=0

[criterion]
TAG_TYPE=THEOREMENV
ALIAS=Criterion
TAG_LEADIN=Criterion
LEADIN_BACKGROUND_COLOR=R:255 G:255 B:255 
LEADIN_FONT_FACE=Arial
LEADIN_FONT_WEIGHT=700
PARAGRAPH_INDENT_LEFT=0
TAG_BEHAVIOR=LISTSTART
PARAGRAPH_LEADING_BEFORE=4
PARAGRAPH_LEADING_AFTER=4
LEADIN_LABELSEP=4
LEADIN_LABELWIDTH=72
PARAGRAPH_INDENT_REST=58
PARAGRAPH_INDENT_RIGHT=0
FONT_SLANT=1
LEADIN_FONT_SLANT=0

[definition]
TAG_TYPE=THEOREMENV
ALIAS=Definition
TAG_LEADIN=Definition
LEADIN_BACKGROUND_COLOR=R:255 G:255 B:255 
LEADIN_FONT_FACE=Arial
PARAGRAPH_INDENT_LEFT=0
TAG_BEHAVIOR=LISTSTART
PARAGRAPH_LEADING_BEFORE=4
PARAGRAPH_LEADING_AFTER=4
LEADIN_LABELSEP=4
LEADIN_LABELWIDTH=72
PARAGRAPH_INDENT_REST=58
PARAGRAPH_INDENT_RIGHT=0
FONT_SLANT=1
LEADIN_FONT_WEIGHT=700

[example]
TAG_TYPE=THEOREMENV
ALIAS=Example
TAG_LEADIN=Example
LEADIN_BACKGROUND_COLOR=R:255 G:255 B:255 
LEADIN_FONT_FACE=Arial
LEADIN_FONT_WEIGHT=700
PARAGRAPH_INDENT_LEFT=0
TAG_BEHAVIOR=LISTSTART
PARAGRAPH_LEADING_BEFORE=4
PARAGRAPH_LEADING_AFTER=4
LEADIN_LABELSEP=4
LEADIN_LABELWIDTH=72
PARAGRAPH_INDENT_REST=58
PARAGRAPH_INDENT_RIGHT=0
FONT_SLANT=1
LEADIN_FONT_SLANT=0

[exercise]
TAG_TYPE=THEOREMENV
ALIAS=Exercise
TAG_LEADIN=Exercise
LEADIN_BACKGROUND_COLOR=R:255 G:255 B:255 
LEADIN_FONT_FACE=Arial
LEADIN_FONT_WEIGHT=700
PARAGRAPH_INDENT_LEFT=0
TAG_BEHAVIOR=LISTSTART
PARAGRAPH_LEADING_BEFORE=4
PARAGRAPH_LEADING_AFTER=4
LEADIN_LABELSEP=4
LEADIN_LABELWIDTH=72
PARAGRAPH_INDENT_REST=58
PARAGRAPH_INDENT_RIGHT=0
FONT_SLANT=1
LEADIN_FONT_SLANT=0

[lemma]
TAG_TYPE=THEOREMENV
ALIAS=Lemma
TAG_LEADIN=Lemma
LEADIN_BACKGROUND_COLOR=R:255 G:255 B:255 
LEADIN_FONT_FACE=Arial
LEADIN_FONT_WEIGHT=700
PARAGRAPH_INDENT_LEFT=0
TAG_BEHAVIOR=LISTSTART
PARAGRAPH_LEADING_BEFORE=4
PARAGRAPH_LEADING_AFTER=4
LEADIN_LABELSEP=4
LEADIN_LABELWIDTH=72
PARAGRAPH_INDENT_REST=58
PARAGRAPH_INDENT_RIGHT=0
FONT_SLANT=1
LEADIN_FONT_SLANT=0

[notation]
TAG_TYPE=THEOREMENV
ALIAS=Notation
TAG_LEADIN=Notation
LEADIN_BACKGROUND_COLOR=R:255 G:255 B:255 
LEADIN_FONT_FACE=Arial
LEADIN_FONT_WEIGHT=700
PARAGRAPH_INDENT_LEFT=0
TAG_BEHAVIOR=LISTSTART
PARAGRAPH_LEADING_BEFORE=4
PARAGRAPH_LEADING_AFTER=4
LEADIN_LABELSEP=4
LEADIN_LABELWIDTH=72
PARAGRAPH_INDENT_REST=58
PARAGRAPH_INDENT_RIGHT=0
FONT_SLANT=1
LEADIN_FONT_SLANT=0

[problem]
TAG_TYPE=THEOREMENV
ALIAS=Problem
TAG_LEADIN=Problem
LEADIN_BACKGROUND_COLOR=R:255 G:255 B:255 
LEADIN_FONT_FACE=Arial
PARAGRAPH_INDENT_LEFT=0
TAG_BEHAVIOR=LISTSTART
PARAGRAPH_LEADING_BEFORE=4
PARAGRAPH_LEADING_AFTER=4
LEADIN_LABELSEP=4
LEADIN_LABELWIDTH=72
PARAGRAPH_INDENT_REST=58
PARAGRAPH_INDENT_RIGHT=0
FONT_SLANT=1
LEADIN_FONT_WEIGHT=700

[proposition]
TAG_TYPE=THEOREMENV
ALIAS=Proposition
TAG_LEADIN=Proposition
LEADIN_BACKGROUND_COLOR=R:255 G:255 B:255 
LEADIN_FONT_FACE=Arial
LEADIN_FONT_WEIGHT=700
PARAGRAPH_INDENT_LEFT=0
TAG_BEHAVIOR=LISTSTART
PARAGRAPH_LEADING_BEFORE=4
PARAGRAPH_LEADING_AFTER=4
LEADIN_LABELSEP=4
LEADIN_LABELWIDTH=72
PARAGRAPH_INDENT_REST=58
PARAGRAPH_INDENT_RIGHT=0
FONT_SLANT=1
LEADIN_FONT_SLANT=0

[remark]
TAG_TYPE=THEOREMENV
ALIAS=Remark
TAG_LEADIN=Remark
LEADIN_BACKGROUND_COLOR=R:255 G:255 B:255 
LEADIN_FONT_FACE=Arial
LEADIN_FONT_WEIGHT=700
PARAGRAPH_INDENT_LEFT=0
TAG_BEHAVIOR=LISTSTART
PARAGRAPH_LEADING_BEFORE=4
PARAGRAPH_LEADING_AFTER=4
LEADIN_LABELSEP=4
LEADIN_LABELWIDTH=72
PARAGRAPH_INDENT_REST=58
PARAGRAPH_INDENT_RIGHT=0
FONT_SLANT=1
LEADIN_FONT_SLANT=0

[solution]
TAG_TYPE=THEOREMENV
ALIAS=Solution
TAG_LEADIN=Solution
LEADIN_BACKGROUND_COLOR=R:255 G:255 B:255 
LEADIN_FONT_FACE=Arial
LEADIN_FONT_WEIGHT=700
PARAGRAPH_INDENT_LEFT=0
TAG_BEHAVIOR=LISTSTART
PARAGRAPH_LEADING_BEFORE=4
PARAGRAPH_LEADING_AFTER=4
LEADIN_LABELSEP=4
LEADIN_LABELWIDTH=72
PARAGRAPH_INDENT_REST=58
PARAGRAPH_INDENT_RIGHT=0
FONT_SLANT=1
LEADIN_FONT_SLANT=0

[summary]
TAG_TYPE=THEOREMENV
ALIAS=Summary
TAG_LEADIN=Summary
LEADIN_BACKGROUND_COLOR=R:255 G:255 B:255 
LEADIN_FONT_FACE=Arial
LEADIN_FONT_WEIGHT=700
PARAGRAPH_INDENT_LEFT=0
TAG_BEHAVIOR=LISTSTART
PARAGRAPH_LEADING_BEFORE=4
PARAGRAPH_LEADING_AFTER=4
LEADIN_LABELSEP=4
LEADIN_LABELWIDTH=72
PARAGRAPH_INDENT_REST=58
PARAGRAPH_INDENT_RIGHT=0
FONT_SLANT=1
LEADIN_FONT_SLANT=0

[theorem]
TAG_TYPE=THEOREMENV
ALIAS=Theorem
TAG_LEADIN=Theorem
LEADIN_BACKGROUND_COLOR=R:255 G:255 B:255 
LEADIN_FONT_FACE=Arial
LEADIN_FONT_WEIGHT=700
PARAGRAPH_INDENT_LEFT=0
TAG_BEHAVIOR=LISTSTART
PARAGRAPH_LEADING_BEFORE=4
PARAGRAPH_LEADING_AFTER=4
LEADIN_LABELSEP=4
LEADIN_LABELWIDTH=72
PARAGRAPH_INDENT_REST=58
PARAGRAPH_INDENT_RIGHT=0
FONT_SLANT=1
LEADIN_FONT_SLANT=0

[FKeys]
0x0405=it
0x0403=rm
0x0404=sf
0x0406=indent
0x0407=code
0x0408=cal
0x000a=section
0x000b=subsection
0x040a=subsubsection
0x040b=paragraph
0x0008=tt
